#infomation {
    margin-top: 50px;
}

.contact-content,
.tour__content,
.infomation__content {
    padding: 30px;
    margin: 0 300px;
}

.infomation__intro-head {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.infomation__intro-desc {
    font-size: 16px;
    font-style: italic;
    opacity: 0.6;
    margin: 10px 0 20px 0;
}

.infomation__intro-head,
.infomation__intro-desc {
    text-align: center;
}

.infomation__intro-text {
    text-align: justify;
}

.infomation__members {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.infomation__member p {
    text-align: center;
    margin-bottom: 10px;
}

.infomation__member img {
    margin: 0 20px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}